.formContainer {
    display: flex;
    flex-direction: column;
}

.auctionContainer {
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
}

.auctionList {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.auctionCard {
    background-color: #E9EFF7;
    background-image: linear-gradient(0deg, #b5bac0 25%, #27e6f0b4 100%);
    box-shadow: 0 5px 10px rgba(0,0,0,0.22), 0 8px 12px rgba(0,0,0,0.24);
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    min-height: 380px;
    max-height: 380px;
    padding: 8px;
    margin: 12px 8px auto;
    text-align: left;
    border-radius: 10px;
}

img {
    width: 250px;
    // height: 200px; // adde a height so things are uniform
}

.sub {
    padding: 0px 0px 20px 0px;
    letter-spacing: 1.1px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}