nav {
    display: flex;
    min-width: 90vw;
    height: 6vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 32px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: #FFA07A;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8px;
}

.pageHeader {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}